<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Conectar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body class="text-center">
    <div class="container mt-5">
        <h2>Ingresa tu nombre</h2>
        <form action="/list">
            <input name="username" class="form-control my-3" placeholder="Tu nombre" required>
            <button class="btn btn-primary">Entrar al juego</button>
        </form>
    </div>
</body>
</html>
